@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Products Manager</h1>
    <table>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Price</th>
        </tr>
        <tr>
            <td>001</td>
            <td>Tenis 1</td>
            <td>100.00</td>
        </tr>
    </table>
</div>